<div class="container-fluid main">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="jumbotron main_box">
        <h1 class="display-3">Approve-A-Loan</h1>
        <%= form_tag main_index_url do %>
          <p class="lead"><label for="analyzed_text">Enter text to analyze:</label></p>
          <p><%= text_area_tag :analyzed_text, nil, rows: 5, cols: 40 %></p>
          <p class="lead">
            <%= submit_tag "Enter", class: "btn btn-primary btn-lg" %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

<!-- attributes = [
  'Existing chequing balance',
  'Loan duration in months',
  'Credit history status',
  'Purpose for loan',
  'Loan amount',
  'Value of savings',
  'Present employment length',
  'Relationship status and sex',
  'Other debtors/guarantors',
  'Property status',
  'Age in years',
  'Other loans',
  'Housing status',
  'Job status',
  'Telephone',
  'Foreign work staus',
  'Installment as a percentage of income'
] -->
