<% if profile.errors.any? %>
  <div class="custom-badge custom-badge-error">
    <p><%= pluralize(profile.errors.count, "error") %> prohibited the analysis:</p>
    <ul>
    <% profile.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
