<div class="container-fluid main">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="jumbotron main_box">
        <h1 class="display-3">Approve-A-Loan</h1>
        <p>THE RESULTS GO HERE!</p>
        <p><%= @verdict %></p>
        <p><%= @confidence %></p>
        <p><%= @name %></p>
        <p><%= @telephone %></p>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
