<div class="container-fluid main">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="jumbotron main_box">
        <div class="custom-badge custom-badge-green">
          <h1 class="display-3">Approve-A-Loan</h1>
        </div>
        <div class="form-margin-padding">
          <%= render 'errors', profile: @profile %>
          <h4>Please fill out this form to analyze a credit applicant</p>
          <%= form_for(@profile) do |f| %>
              <%= render 'form', f: f %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
