$page-background: #fcfcfc;
$box-background: #e7edef;

#ring {
  margin: 20px;
  width: 250px;
  height: 250px;
}

.main {
  background-color: $page-background;
  color: #002026;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  text-decoration:none;
}

a:link {
  color: #002026;;
}

a:visited, a:hover, a:active,  {
    color: lighten(#002026, 7%);
}

.main_box {
  background-color: $box-background;

  padding: 1px 100px 25px 100px;
  margin-top: 0px;
  margin-bottom: 30px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.table-format {
  margin: 10px;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.progressbar__label {
  font-size: 38px;
  font-weight: 900;
}

.form-margin-padding {
  margin: 10px;
  padding-left: 12px;
  padding-top: 10px;
}

.title {
  font-weight: 600;
}

.custom-badge {
  padding: 12px 19px 12px 19px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 10px;
  width: 100%;
}

.custom-badge-h1 {
  background-color: #d5dbdd;
  font-weight: 600;
}

.custom-badge-dark {
  background-color: darken($box-background, 5%);
  font-size: 16px;
  font-weight: 450;
}

.custom-badge-white {
  background-color: #fff;
  font-size: 16px;
  font-weight: 450;
}

.custom-badge-error {
  background-color: #FFC197;
}

.custom-badge-save {
  background-color: #24da325c;
}

.verdict-success {
  background-color: #5cb85c;
  border-radius: 4px;
}

.verdict-danger {
  background-color: #c0392b;
  border-radius: 4px;
}
