// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_box {
  background-color: #0fc70f2e;

  padding: 25px 100px 25px 100px;
  margin: 55px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.main {
  background-color: rgba(245, 245, 240, 0.19);
}

.table-format {
  margin: 10px;
  background-color: #fff;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

#ring {
  margin: 20px;
  width: 250px;
  height: 250px;
}

.progressbar__label {
  font-size: 38px;
  font-weight: 900;
}

.progressbar__label .approved {
  color: #144900;
}

.progressbar__label .denied {
  color: #b02f26;
}

.form-margin-padding {
  margin: 10px;
  padding-left: 12px;
  padding-top: 10px;
}

.custom-badge {
  padding: 12px 19px 12px 19px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin: 10px;
  width: 100%;
}

.custom-badge-green {
  background-color: #ecf9ec;
}

.custom-badge-grey {
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: 450;
}

.custom-badge-white {
  background-color: #fff;
  font-size: 16px;
  font-weight: 450;
}

.custom-badge-error {
  background-color: #FFC197;
}

.verdict-success {
  background-color: #27ae60;
}

.verdict-danger {
  background-color: #c0392b;
}
